{% extends "shop/base.html" %}
{% load static %}


{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome {{ new_user.first_name }}!</h1>
    <p>Your account has been successfully created.</p>
    <div id="birthday-info">
        <label for="dob">Enter your date of birth: </label>
        <input type="date" id="dob">
        <button onclick="calculateAgeAndDay()">Calculate</button>
    </div>
    <div id="result">
        <!-- Здесь будут отображаться результаты -->
    </div>
</div>

<script src="{% static '/js/registration.js' %}"></script>

{% endblock %}
