{% extends "shop/base.html" %}
{% load static %}

{% block title %}Добавить отзыв{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_review.css' %}">

<h1>Добавить отзыв</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button-container">
        <button type="submit" class="btn btn-primary">Отправить отзыв</button>
        <a href="/reviews" class="btn btn-secondary">Назад к списку отзывов</a>
    </div>
</form>
{% endblock %}