{% extends "shop/base.html" %}

{% block title %}О компании{% endblock %}

{% block content %}
<div class="company-info">
    <h1>{{ company_info.name }}</h1>
    <p>{{ company_info.description }}</p>

    <!-- Видео -->
    <iframe width="560" height="315" src="{{ company_info.video_url }}" frameborder="0" allowfullscreen></iframe>

    <!-- Логотип -->
    <img src="{{ company_info.logo.url }}" alt="{{ company_info.name }} Logo">

    <!-- История -->
    <h2>История компании</h2>
    <p>{{ company_info.history|linebreaks }}</p>

    <!-- Реквизиты -->
    <h2>Реквизиты</h2>
    <p>{{ company_info.contacts|linebreaks }}</p>

    <!-- Сертификат -->
    <h2>Сертификат</h2>
    <div class="certificate">
        <h1>СЕРТИФИКАТ</h1>
        <p>Настоящим предоставляется сертификат</p>
        <p>компании</p>
        <h2>The best company in the world</h2>
        <p>за успешное завершение курса</p>
        <h3>CSS для начинающих</h3>
        <p>Дата выдачи: 23 сентября 2023</p>
        <div class="subscribe">
            <p>Подпись:</p>
             <img src="/static/images/subscribe.png" alt="Подпись">
        </div>

    </div>
</div>
{% endblock %}
