
{% extends "shop/base.html" %}

{% block title %}Словарь терминов и понятий{% endblock %}

{% block content %}
<h1>Словарь терминов и понятий</h1>

<ul class="faq-list">
    {% for faq in faqs %}
        <li class="faq-item" id="faq{{ faq.id }}">
            <h2 class="faq-question"><a href="#faq{{ faq.id }}">{{ faq.question }}</a></h2>
            <p class="faq-answer">{{ faq.answer }}</p>
            <p>Дата добавления: {{ faq.date_added }}</p>
        </li>
    {% endfor %}
</ul>

{% endblock %}
