{% extends "shop/base.html" %}
{% load static %}


{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/privacy_policy.css' %}">

<h1>Политика конфиденциальности</h1>

<p>
Политика конфиденциальности

Дата вступления в силу: [Укажите дату]

    Введение

    Данная политика конфиденциальности описывает, как [Название вашей компании] (далее - "Мы", "Наша компания" или "Сайт") собирает, использует и раскрывает личную информацию, которую вы предоставляете при использовании нашего веб-сайта [адрес сайта] (далее - "Сайт").

    Мы уделяем большое внимание защите вашей личной информации и соблюдаем законы и нормативные акты о защите данных в сети Интернет.

    Сбор и использование информации

    Мы можем собирать личную информацию, которую вы предоставляете нам, включая, но не ограничиваясь:
        Имя и фамилия
        Адрес электронной почты
        Номер телефона
        Другие контактные данные

    Мы можем использовать предоставленную вами информацию для следующих целей:
        Предоставление информации о наших продуктах и услугах
        Ответ на ваши запросы и вопросы
        Улучшение качества наших продуктов и услуг
        Рассылка новостей и обновлений (если вы подписались на рассылку)
        Обеспечение безопасности и целостности нашего Сайта
        Соблюдение законов и регулирований

    Защита информации

    Мы предпринимаем меры для обеспечения безопасности и конфиденциальности вашей личной информации. Однако мы не можем гарантировать абсолютную безопасность данных в сети Интернет.

    Раскрытие информации третьим лицам

    Мы не продаем, не арендуем и не передаем вашу личную информацию третьим лицам без вашего согласия, за исключением случаев, предусмотренных законом.

    Изменения в политике конфиденциальности

    Мы можем время от времени обновлять нашу политику конфиденциальности. Любые изменения будут опубликованы на этой странице, и мы рекомендуем вам периодически пересматривать нашу политику конфиденциальности.

    Связь с нами

    Если у вас есть вопросы или замечания относительно нашей политики конфиденциальности, пожалуйста, свяжитесь с нами по следующим контактам:

    [Контактная информация]

Это всего лишь пример общей политики конфиденциальности. При необходимости вы можете внести изменения и адаптировать ее к вашим конкретным потребностям и требованиям закона. Не забудьте также добавить информацию о файловых cookie, если ваш сайт использует их.</p>


</div>
{% endblock %}
