{% extends "shop/base.html" %}

{% block title %}Список отзывов{% endblock %}

{% block content %}
<h1>Список отзывов</h1>

<ul>
    {% for review in reviews %}
        <li>
            <h2>{{ review.name }}</h2>
            <p>Рейтинг: {{ review.rating }}/5</p>
            <p>{{ review.text }}</p>
            <p>Дата добавления: {{ review.date_added }}</p>
        </li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <a href="/add_review" class="btn btn-primary">Добавить отзыв</a>
{% else %}
    <p>Чтобы оставить отзыв, <a href="/users/login">войдите</a> или <a href="/users/register">зарегистрируйтесь</a>.</p>
{% endif %}
{% endblock %}
