/* Стили для header (шапки) */
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(227, 227, 227, 0.8); /* Полупрозрачный цвет фона шапки */
    padding: 10px; /* Внутренний отступ */
    font-family: 'Old Standard TT', serif;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.logo {
    text-decoration: none; /* Убираем подчеркивание у ссылок с классом "logo" */
    color: #000906; /* Цвет текста ссылок в шапке */
    margin-right: 20px; /* Отступ между ссылками */
    font-weight: bold; /* Жирный шрифт для ссылок */
    font-size: 30px; /* Увеличение размера шрифта */
    text-align: center; /* Выравнивание текста по центру */
    transition:  color 0.2s; /* Плавное изменение масштаба и цвета при наведении */
}

.logo:hover {
    color: #267C10; /* Изменение цвета при наведении (красный, например) */
}


/* Стили для subheader (подшапки) */
#subheader {
    background-color: rgba(232, 235, 234, 0.5);    position: fixed;
    width: 100%;
    padding:10px;
    margin-top: -40px;/* Выравнивание текста по правому краю */
    left: 0; /* Выравнивание по левому краю */
    z-index: 1;

}

.cart a {
    text-decoration: none; /* Убираем подчеркивание у ссылок в подшапке */
    color: #333; /* Цвет текста ссылок */
    margin-right: 20px; /* Отступ между ссылками */
}

/* Стили для main (основного содержания) */
main {
    margin-top:65px;
    background: linear-gradient(to bottom, #F1F6F4	, #EEFEE7);
    font-family: 'Old Standard TT', serif;
    min-height: calc(100vh - 65px); /* Заполняем всю высоту экрана, вычитая высоту шапки */


}
/*main::after {
    content: "";
    display: block;
    min-height: 50vh; /* Высота вашего заполнителя */
}*/

.logo1 {
    text-decoration: none; /* Убираем подчеркивание у ссылок с классом "logo" */
    color: #fefefe; /* Цвет текста ссылок в шапке */
    margin-right: 20px; /* Отступ между ссылками */
    font-weight: bold; /* Жирный шрифт для ссылок */
    font-size: 15px; /* Увеличение размера шрифта */
    text-align: center; /* Выравнивание текста по центру */
    transition:  color 0.2s; /* Плавное изменение масштаба и цвета при наведении */
}

.logo1:hover {
    color: #267C10; /* Изменение цвета при наведении (красный, например) */
}
/* Стили для footer (подвала) */
footer {
    background-color: #cfe8d4; /* Бледно-зеленый цвет фона подвала */
    color: #fff; /* Цвет текста в подвале */
    padding: 10px; /* Внутренний отступ */
    text-align: center; /* Выравнивание текста по центру */


}

