/* partners.css */
a{
text-decoration:none;
}
.partner-logo {
    width: 300px; /* Исходная ширина блока */
    height: 300px; /* Исходная высота блока */
    border-radius: 50%; /* Задаем круглую форму */
    overflow: hidden; /* Обрезаем изображение, чтобы оно соответствовало круглому блоку */
    margin: 10px; /* Отступ между блоками */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень */
    display: flex; /* Используем flex для выравнивания */
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    transition: transform 0.2s; /* Добавляем анимацию масштабирования */
    background: linear-gradient(to bottom, #e2f5cc, white);
    margin:20px;/* Градиентный фон от бледно-зеленого к белому */
}

.partner-logo:hover {
    transform: scale(1.05); /* Немного увеличиваем масштаб при наведении */
}

.partner-logo img {
    max-width: 100%; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    display: block; /* Убираем лишние отступы */
}
.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}


.latest-article {
    padding: 20px;
    margin-bottom: 20px;
    position: relative; /* Устанавливаем позиционирование как относительное */
}

.latest-article h2 {
    font-size: 24px;
    font-weight: bold;
}

.latest-article .short-argument {
    font-size: 18px;
    margin-top: 10px;
}

.latest-article .date {
    font-style: italic;
    margin-top: 10px;
}

.latest-article .article-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    width: 300px; /* Исходная ширина блока */
    height: 300px;
}

.latest-article .read-more {
    position: absolute; /* Устанавливаем позиционирование как абсолютное */
    bottom: 10px; /* Располагаем кнопку внизу блока */
    left: 20px; /* Располагаем кнопку слева с отступом */
}

.advertisement {
    padding: 20px;
    margin-bottom: 20px;
}

.advertisement h2 {
    font-size: 24px;
    font-weight: bold;
}

.advertisement .adv-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.advertisement .adv-link {
    margin-top: 10px;
    display: block;
}

.advertisement {
    animation-name: bounce; /* Имя анимации */
    animation-duration: 1s; /* Длительность анимации (1 секунда) */
    animation-timing-function: ease-in-out; /* Функция распределения времени */
    animation-iteration-count: infinite; /* Бесконечное повторение анимации */
}

/* Определение анимации bounce */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Начальное и конечное состояния - нет смещения по вертикали */
    }
    50% {
        transform: translateY(-10px); /* Середина анимации - смещение вверх на 10px */
    }
}