/* styles.css */

/* Стили для заголовка */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Стили для таблицы */
table {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 100%;
}

/* Стили для заголовка таблицы */
thead {
    background-color: #f5f5f5; /* Фон заголовка */
    font-weight: bold;
}

/* Стили для ячеек заголовка */
th {
    text-align: left; /* Выравнивание текста в ячейках заголовка */
    padding: 10px;
}

/* Стили для ячеек данных */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Горизонтальные линии между ячейками */
    vertical-align: middle; /* Вертикальное выравнивание содержимого по центру ячейки */
}

/* Стили для пустых ячеек */
td:empty {
    background-color: #f9f9f9; /* Фон пустых ячеек */
}

/* Стили для строк */
tr {
    transition: background-color 0.3s; /* Плавное изменение цвета фона строк при наведении */
}

/* Стили для строк при наведении */
tr:hover {
    background-color: #f0f0f0; /* Измененный цвет фона при наведении */
}

/* Стили для ссылки "Вернуться на главную страницу" */

