
ul {
    list-style: none;
    padding: 0;
}

li {
    clear: both; /* Предотвращаем обтекание */
    margin-bottom: 20px; /* Пространство между вакансиями */
}

/* Стили для заголовков вакансий */
h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    float: left; /* Размещаем заголовок слева */
    width: 100%; /* Занимаем всю доступную ширину */
}

/* Стили для описания вакансии */
p {
    margin: 0;
    padding: 0;
    float: left; /* Размещаем описание слева */
    width: 100%; /* Занимаем всю доступную ширину */
}

/* Стили для даты публикации */
p:last-child {
    clear: both; /* Предотвращаем обтекание */
    font-style: italic;
    color: #888;
}
