{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Мой магазин{% endblock %}</title>
    <link href="{% static '/css/base.css' %}" rel="stylesheet">
    <link href="{% static '/css/cart.css' %}" rel="stylesheet">
    <link href="{% static '/css/list.css' %}" rel="stylesheet">
    <link href="{% static '/css/detail.css' %}" rel="stylesheet">
    <link href="{% static '/css/create.css' %}" rel="stylesheet">
    <link href="{% static '/css/created.css' %}" rel="stylesheet">


</head>
<body background="static/images/img.png">
<div id="header">
    <a href="/" class="logo">Главная </a>
    <a href="/store/" class="logo">Магазин </a>
    <a href="/about/" class="logo">О нас </a>
    <a href="/articles/" class="logo">Статьи</a>

</div>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        Your cart:
        <a href="{% url 'cart:cart_detail' %}">
            {{ total_items }} item{{ total_items|pluralize }},
            ${{ cart.get_total_price }}
        </a>
        {% else %}
        Your cart is empty.
        {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
