{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{article.title}}
{% endblock %}

{% block content %}

        <div class="content">
            <h1>{{ article.title }}</h1>
            <p>{{ article.short_argument }}</p>
            <p>{{ article.date_of_creation }}</p>
            <img src="{{ article.image.url }}" alt="{{ article.title }} Image">
            <p>{{ article.content }}</p>
            <a href="/articles">Вернуться к статьям</a>
        </div>
        <button id="open-settings" onclick="openSettingsWindow()">Изменить настройки</button>
<script src="{% static '/js/article_detail.js' %}"></script>

{% endblock %}