{% extends "shop/base.html" %}

{% block title %}Список статей{% endblock %}

{% block content %}
<h1>Список статей</h1>

<ul class="article-list">
    {% for article in articles %}
        <li class="article">
            <h2><a href="{{ article.id }}">{{ article.title }}</a></h2>
            <p class="short-argument">{{ article.short_argument }}</p>
            <p class="date">{{ article.date_of_creation }}</p>
            <img src="{{ article.image.url }}" alt="{{ article.title }} Image">
            <a class="read-more" href="{{ article.id }}">Читать далее</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
